@keyframes rotate-container-0 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-container-1 {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(390deg);
  }
}

@keyframes rotate-container-2 {
  from {
    transform: rotate(60deg);
  }

  to {
    transform: rotate(420deg);
  }
}

@keyframes rotate-container-3 {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes rotate-container-4 {
  from {
    transform: rotate(120deg);
  }

  to {
    transform: rotate(480deg);
  }
}

@keyframes rotate-container-5 {
  from {
    transform: rotate(150deg);
  }

  to {
    transform: rotate(510deg);
  }
}

@keyframes rotate-items-0 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-items-1 {
  from {
    transform: rotate(-30deg);
  }

  to {
    transform: rotate(-390deg);
  }
}

@keyframes rotate-items-2 {
  from {
    transform: rotate(-60deg);
  }

  to {
    transform: rotate(-420deg);
  }
}

@keyframes rotate-items-3 {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(-450deg);
  }
}

@keyframes rotate-items-4 {
  from {
    transform: rotate(-120deg);
  }

  to {
    transform: rotate(-480deg);
  }
}

@keyframes rotate-items-5 {
  from {
    transform: rotate(-150deg);
  }

  to {
    transform: rotate(-510deg);
  }
}
