.p-menu,
.p-menu-list,
.p-menuitem-content {
  border-radius: 0;
}

.p-menu,
.p-menu-list,
.p-menuitem {
  min-width: 130px !important;
  max-width: 120px !important;
}

.p-menu,
.p-menu-list {
  padding: 0 !important;
  margin: 0;
  gap: 5px !important;
  overflow: hidden;
}

.p-menu-item-link {
  text-decoration: none !important;
  gap: 16px !important;

  span {
    color: $primary-text-color !important;
  }
}
