@font-face {
    font-family: PrimeIcons, sans-serif;
    src: url('./primeicons.woff2') format('woff2'),
         url('./primeicons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pi {
    font-family: PrimeIcons, sans-serif !important;
}