/* Text colors */
$dark-text-color: #333941;
$primary-text-color: #4B5563;
$secondary-text-color: #5E5E5E;
$white-text-color: #F5F4F4;

$primary-color: #10B981;
$primary-hover-color: #1BBD79;

$primary-border-color: #F5F5F5;
$primary-white-text-color: #e6e6e6;
$primary-white-green-text-color: #cce4dd;

$bg-dark-color: #27272a;
$bg-black-color: #000a;
$bg-dark-green-color: #000500;
$bg-green-color-05: #10B98105;

$p-card-background: #13131399;
$p-card-border: #3f3f46;

$content-background: #0A0A0A99;
