.lang-switcher {
  padding: 16px;
  display: none;

  img {
    display: flex;
    align-items: center;
    width: 20px;
  }
}
.mobile-img {
  display: flex;
  justify-content: center;

  img {
    width: 24px;
  }
}

@media (min-width: $lg) {
  .lang-switcher {
    margin-left: 24px;
    cursor: pointer;
    display: block;
  }
}
