.lang-switcher img {
  display: flex;
  align-items: center;
  width: 20px;
}
.lang-switcher {
  padding: 16px;
  display: none;
}
.mobile-img {
  display: flex;
  justify-content: center;
}
.mobile-img img {
  width: 24px;
}

@media (min-width: $lg) {
  .lang-switcher {
    margin-left: 24px;
    cursor: pointer; 
    display: block;
  }
}