[submodule "modules/nuc_activity"]
	path = modules/nuc_activity
	url = https://github.com/Nucleify/nuc_activity.git
[submodule "modules/nuc_api"]
	path = modules/nuc_api
	url = https://github.com/Nucleify/nuc_api.git
[submodule "modules/nuc_calendar"]
	path = modules/nuc_calendar
	url = https://github.com/Nucleify/nuc_calendar.git
[submodule "modules/nuc_colors"]
	path = modules/nuc_colors
	url = https://github.com/Nucleify/nuc_colors.git
[submodule "modules/nuc_documentation"]
	path = modules/nuc_documentation
	url = https://github.com/Nucleify/nuc_documentation.git
[submodule "modules/nuc_entities"]
	path = modules/nuc_entities
	url = https://github.com/Nucleify/nuc_entities.git
[submodule "modules/nuc_globals"]
	path = modules/nuc_globals
	url = https://github.com/Nucleify/nuc_globals.git
[submodule "modules/nuc_modules"]
	path = modules/nuc_modules
	url = https://github.com/Nucleify/nuc_modules.git
[submodule "modules/nuc_pages"]
	path = modules/nuc_pages
	url = https://github.com/Nucleify/nuc_pages.git
[submodule "modules/nuc_overrides"]
	path = modules/nuc_overrides
	url = https://github.com/Nucleify/nuc_overrides.git
[submodule "modules/nuc_languages"]
	path = modules/nuc_languages
	url = https://github.com/Nucleify/nuc_languages.git
[submodule "modules/nuc_dark_mode"]
	path = modules/nuc_dark_mode
	url = https://github.com/Nucleify/nuc_dark_mode.git
[submodule "modules/nuc_pagebuilder"]
	path = modules/nuc_pagebuilder
	url = https://github.com/Nucleify/nuc_pagebuilder.git
[submodule "modules/nuc_users"]
	path = modules/nuc_users
	url = https://github.com/Nucleify/nuc_users.git
[submodule "modules/nuc_documents"]
	path = modules/nuc_documents
	url = https://github.com/Nucleify/nuc_documents
