[submodule "modules/nuc_activity"]
	path = modules/nuc_activity
	url = https://github.com/Nucleify/nuc_activity.git
[submodule "modules/nuc_admin"]
	path = modules/nuc_admin
	url = https://github.com/Nucleify/nuc_admin.git
[submodule "modules/nuc_animations"]
	path = modules/nuc_animations
	url = https://github.com/Nucleify/nuc_animations.git
[submodule "modules/nuc_api"]
	path = modules/nuc_api
	url = https://github.com/Nucleify/nuc_api.git
[submodule "modules/nuc_auth"]
	path = modules/nuc_auth
	url = https://github.com/Nucleify/nuc_auth.git
[submodule "modules/nuc_charts"]
	path = modules/nuc_charts
	url = https://github.com/Nucleify/nuc_charts.git
[submodule "modules/nuc_colors"]
	path = modules/nuc_colors
	url = https://github.com/Nucleify/nuc_colors.git
