public-hoist-pattern[]=*

auto-install-peers=true
strict-peer-dependencies=false

child-concurrency=5
network-concurrency=32

package-import-method=copy

# Cache & resilience
prefer-offline=true
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
