@import 'mixins';

@each $type in main, activity, article, card, contact, feature, link, money,
  question, task, technology, user
{
  .p-selectbutton[ad-type='#{$type}'] {
    @include entity-styles(var(--#{$type}-item-selected-color-new) !important);
  }
}

.p-selectbutton {
  .p-togglebutton {
    background: $p-card-background !important;
    border-color: $p-card-border !important;

    span {
      color: $white-text-color !important;
    }
  }
}
