.ad-button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.5s;

  &.with-ad-icon {
    gap: 0.5em;
  }

  .p-button-label {
    flex: 0 1 auto;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    display: inline-flex;
    align-items: center;
    min-width: 0;
  }

  &.rounded-button {
    border-radius: 2em !important;
  }

  &.mobile-button {
    display: inline-flex !important;
  }

  &.desktop-button {
    display: none !important;
  }

  &.data-table-button {
    height: 34px;
    width: 34px;
  }

  &:focus {
    box-shadow: none !important;
  }

  @media (min-width: $lg) {
    &.mobile-button {
      display: none !important;
    }

    &.desktop-button {
      display: inline-flex !important;
    }
  }
}

