#settings .panel-container .modules-settings-card {
  height: 100%;

  .p-card-body {
    height: 100%;
    
    .p-card-content {
      height: unset !important;
  
      .modules-settings-card-content {
        display: flex !important;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1em;

        &-module {
          display: flex;
          justify-content: start;
          align-items: start;
          gap: 1em;

          .shiny {
            span {
              @extend %shiny;
            }
          }

          &-info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 0.5em;

            p {
              margin: 0;
              font-size: $font-size-xs;
            }
          }
        }
      }
    }
  }

  @media (width > $md) {
    .p-card-body {
      height: 100% !important;

      .p-card-content {
        height: 100% !important;
        
        .modules-settings-card-content {
          display: grid !important;
          grid-template-columns: repeat(2, 1fr);
          gap: 1em;
          margin: auto;
        }
      }
    }
  }

  @media (width > $lg) {
    .p-card-body {
      .p-card-content {
        .modules-settings-card-content {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }

  @media (width > $xl) {
    .p-card-body {
      .p-card-content {
        .modules-settings-card-content {
          gap: 1.5em;
        }
      }
    }
  }
}