body {
  background: $body-bg;

  &:has(#about, #blog, #login, #register, #error-404, #home) {
    background: $white-body-bg;

    .dock,
    .overlay-panel-toggle {
      display: none !important;
    }
  }

  &:has(#login, #register, #error-404) {
    main > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 1em;
    }
  }
}
