@import 'mixins';

.p-textarea {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
  padding: 5px 10px;
  min-height: 100px;
  max-height: 400px;

  @each $type in main, activity, article, card, contact, feature, link, money,
    question, task, technology, user
  {
    &[ad-type='#{$type}'] {
      @include entity-textarea-styles(
        var(--#{$type}-item-color-new) !important,
        var(--#{$type}-item-focus-color-new) !important
      );
    }
  }
}
