@use 'sass:math';

$particleSize: 22vmin;
$animationDuration: 7s;
$amount: 15;

.screen-lights-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body:has(
    :not(
      #about,
      #blog,
      #error-404,
      #home,
      #license,
      #login,
      #register,
      #services
    )
  )
  .screen-lights-container
  .screen-light {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: if(
        math.random() > 0.5,
        var(--main-item-highlight-color-new),
        var(--main-item-selected-color-new)
      );
      top: math.random(100) * 1%;
      left: math.random(100) * 1%;
      animation-duration: math.random(math.div($animationDuration, 1s)) *
        1s +
        10s;
      animation-delay: math.div(
        math.random(math.div($animationDuration, 1s)),
        10
      );
      transform-origin: (math.random(50) - 25) *
        1vw
        (math.random(50) - 25) *
        1vh;
      $blurRadius: (math.random() + 0.5) * $particleSize * 0.5;
      $x: if(math.random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

body:has(
    #about,
    #blog,
    #error-404,
    #home,
    #license,
    #login,
    #register,
    #services
  )
  .screen-lights-container
  .screen-light {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  $colors: (#10b98119, #10b98111, #10b98122);

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, math.random(length($colors))) !important;
      top: math.random(100) * 1%;
      left: math.random(100) * 1%;
      animation-duration: math.random(math.div($animationDuration, 1s)) *
        1s +
        10s;
      animation-delay: math.div(
        math.random(math.div($animationDuration, 1s)),
        10
      );
      transform-origin: (math.random(50) - 25) *
        1vw
        (math.random(50) - 25) *
        1vh;
      $blurRadius: (math.random() + 0.5) * $particleSize * 0.5;
      $x: if(math.random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
