.panel-container {
  position: relative;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

body:has(.p-dock.p-dock-top) {
  .panel-container {
    padding-top: 5em;
  }
}

body:has(.p-dock.p-dock-right) {
  .panel-container {
    padding-top: 0.5em;
    padding-right: 5em;
  }
}

body:has(.p-dock.p-dock-left) {
  .panel-container {
    padding-top: 0.5em;
    padding-left: 5em;
  }
}

body:has(.p-dock.p-dock-bottom) {
  .panel-container {
    padding-bottom: 5em;

    @media (min-width: $lg) {
      padding-top: 0.5em;
    }
  }
}
