@import '../../atom/input-text/index.module';

.ad-datepicker {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  .ad-inputtext {
    @extend %ad-inputtext;

    width: 100%;
    box-sizing: border-box;
  }
}
