.my-card {
  &:not(.tile) {
    width: 100%;
  }

  :has(.p-datatable) {
    padding-bottom: 0;
  }

  background: $content-bg;
  box-shadow: $secondary-card-box-shadow;
  border: none;
  border-radius: 0;

  .my-card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 4px;
    margin-bottom: 8px;

    h3 {
      margin: 0;
    }

    .p-button {
      padding: 0;
      width: 30px !important;
      height: 30px !important;

      .p-button-icon {
        font-size: 1em;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    &:not(.tile) {
      margin-right: 2em;
    }

    .my-card-header-container {
      padding: 2px 12px 0 6px;

      .heading-skeleton {
        height: 38px !important;
      }
    }
  }
}
