.p-menu {
  background: $content-background !important;
  border: 1px solid $p-card-border !important;
  backdrop-filter: blur(0.25em);
}

.p-menu,
.p-menu-list,
.p-menuitem-content {
  border-radius: 0;
}

.p-menu,
.p-menu-list,
.p-menuitem {
  min-width: 130px !important;
  max-width: 120px !important;
}

.p-menu,
.p-menu-list {
  padding: 0 !important;
  margin: 0;
  gap: 5px !important;
  overflow: hidden;
}

.p-menu-item-link {
  text-decoration: none !important;
  gap: 1em !important;
  padding-left: 1.45em !important;

  span {
    color: $white-text-color !important;
  }
}
