@import 'Features', 'Innovations', 'WhyUs', 'footer', 'navbar', 'sections',
  'start';

.home-container {
  padding-top: 150px;

  @media (min-width: $breakpoint-sm) {
    padding-top: 180px;
  }
}

div[data-pc-name='deferredcontent'] {
  z-index: -1;
}

#footer {
  div[data-pc-name='deferredcontent'] {
    margin-top: -400px;
    padding-top: 400px;
  }
}

@media (max-width: $breakpoint-md) {
  div[data-pc-name='deferredcontent'] {
    margin-top: -150px;
    padding-top: 150px;
  }
}
