.home-navbar {
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: -1px;
  background: $primary-bg;
  box-shadow: $box-shadow-none;
  border: $border-none;
  border-radius: $border-radius-none;
  padding: 1em;

  .container {
    max-width: 1230px;
  }

  .pi {
    color: $white-text-color !important;
  }

  .navbar-toggler {
    height: 44px;
    width: 44px;
    padding: 0;
    background: transparent;
    border: 0 !important;
    box-shadow: none !important;
  }

  .login-button {
    padding: 5px 15px !important;
  }

  .home-nav-link {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding: 15px;
    color: $white-text-color;
    font-size: 18px;
    text-align: end;
    transition: all 300ms;

    &:hover {
      color: $primary-hover-color;
    }

    @media (min-width: $breakpoint-md) {
      gap: 10px;
      margin-top: -3px;
      padding: 8px;
    }
  }

  @media (min-width: $breakpoint-md) {
    max-height: 100px;
  }

  @media (max-width: $breakpoint-md) {
    &.not-expanded {
      .home-nav-link,
      .login-button {
        opacity: 0;
      }
    }

    &.expanded {
      .home-nav-link {
        position: relative;
        left: 0 !important;
        opacity: 1 !important;

        &:nth-child(0) {
          transition-delay: 0.05s;
        }

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.15s;
        }

        &:nth-child(3) {
          transition-delay: 0.2s;
        }

        &:nth-child(4) {
          transition-delay: 0.25s;
        }
      }

      .login-button {
        opacity: 1 !important;
        transition-delay: 0.3s;
      }
    }
  }
}
