@import 'mixins';

.p-datatable {
  min-height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s 0.15s opacity;

  .p-button {
    padding: 0.25em;

    .iconify {
      font-size: 1.5em;
      color: $primary-color;
    }
  }

  .p-row-even {
    background: $p-card-background !important;
  }

  .p-datatable-column-title,
  td {
    color: $primary-white-text-color;
  }

  td {
    border-color: #27272a !important;
  }

  .p-row-odd {
    background: $content-background !important;
  }

  &:not(:has(.p-skeleton)) {
    margin-top: 4px;
  }

  @each $type in activity, article, card, contact, feature, link, money,
    question, task, technology, user
  {
    &[ad-type='#{$type}'] {
      @include entity-datatable-styles(
        var(--#{$type}-item-color-new) !important,
        var(--#{$type}-item-selected-color-new) !important,
        var(--#{$type}-item-highlight-color-new) !important
      );
    }
  }

  .p-datatable-header-cell {
    background: $bg-black-color;
  }

  .p-sortable-column {
    .p-column-header-content {
      display: flex;
      justify-content: space-between;
      padding-right: 1em;
    }
  }

  th {
    padding: 8px 9px !important;
  }

  td {
    padding: 6px 9px !important;
    cursor: pointer;
  }

  .p-component-overlay {
    background: transparent;
  }

  .p-datatable-paginator-bottom {
    border: 0;

    .p-paginator {
      background: transparent !important;
      position: relative;
      bottom: 20px;
      margin: 0;
      padding: 0;

      &-current {
        margin: 0 4px;
      }

      &-content {
        display: flex;
        gap: 8px;
      }

      &-page,
      &-first,
      &-prev,
      &-current,
      &-next,
      &-last {
        color: #a1a1aa !important;
      }
    }
  }

  :has(.p-datatable-loading-overlay) {
    .p-datatable-wrapper,
    .p-paginator-bottom {
      display: none !important;
    }
  }

  .p-column-title {
    font-size: $font-size-sm;
  }

  .p-datatable-table {
    .id-column,
    .index-column {
      width: 8%;
    }

    .content-column,
    .header-column,
    .label-column,
    .title-column,
    .name-column,
    .full-name-column {
      width: 60%;
    }

    .tablet-column,
    .desktop-column {
      display: none;
    }

    .action-column {
      width: 2%;
      min-width: 49px;

      .action-column-content {
        display: flex;
        justify-content: space-around;
        gap: 0.1em;
      }
    }

    .email-column,
    .role-column,
    .created-at-column,
    .updated-at-column,
    .id-activity-column,
    .causer-id-column,
    .created-at-activity-column {
      display: none;
    }

    .content-column,
    .header-column,
    .label-column,
    .title-column,
    .category-column,
    .description-column,
    .name-column,
    .src-column,
    .question-category-column {
      overflow: hidden;
      white-space: nowrap;
    }

    .content-column,
    .header-column,
    .label-column,
    .src-column,
    .title-column {
      max-width: 200px;
    }

    .description-column {
      max-width: 260px;
    }

    .name-column {
      max-width: 280px;
    }

    @media (min-width: 530px) {
      .index-column,
      .id-column {
        width: 15%;
      }

      .role-column,
      .birthday-column,
      .id-activity-column {
        display: table-cell;
      }

      .name-column,
      .full-name-column {
        width: 45%;
      }
    }

    @media (min-width: $md) {
      .index-column,
      .id-column {
        width: 10%;
      }

      .name-column,
      .full-name-column {
        width: 25%;
      }

      .role-column,
      .birthday-column {
        width: 18%;
      }

      .email-column,
      .created-at-activity-column {
        display: table-cell;
      }

      .email-column {
        width: 30%;
      }

      .created-at-activity-column {
        width: 28%;
      }
    }

    @media (min-width: $lg) {
      .index-column,
      .id-column {
        width: 10%;
      }

      .desktop-column {
        display: table-cell;
      }

      .email-column {
        width: 32%;
      }

      .role-column,
      .birthday-column {
        width: 15%;
      }

      .content-column,
      .header-column,
      .label-column,
      .src-column,
      .title-column {
        width: 38%;
      }

      .question-category-column,
      .category-column {
        width: 20%;
      }

      .action-column {
        min-width: 120px;
      }
    }

    @media (min-width: $xl) {
      .index-column,
      .id-column {
        width: 8%;
      }

      .name-column,
      .full-name-column {
        width: 20%;
      }

      .email-column {
        width: 28%;
      }

      .created-at-column {
        display: table-cell;
        width: 20%;
      }

      .category-column {
        width: 20%;
      }

      .question-category-column {
        width: 19%;
      }
    }

    @media (min-width: $xxl) {
      .index-column,
      .id-column {
        width: 6%;
      }

      .name-column,
      .full-name-column {
        width: 12%;
      }

      .email-column {
        width: 16%;
      }

      .role-column,
      .birthday-column {
        width: 10%;
      }

      .created-at-column,
      .updated-at-column {
        display: table-cell;
        width: 14%;
      }

      .content-column,
      .header-column,
      .label-column,
      .src-column,
      .title-column {
        width: 30%;
      }

      .category-column {
        width: 18%;
      }
    }

    @media (min-width: 1500px) {
      .created-at-column,
      .updated-at-column {
        width: 12%;
      }

      .content-column,
      .header-column,
      .label-column,
      .src-column,
      .title-column {
        width: 23%;
      }

      .category-column {
        width: 15%;
      }
    }
  }
}
