@keyframes change-lighter-color {
  0% {
    fill: var(--article-item-color);
  }

  100% {
    fill: var(--main-item-color);
  }
}

@keyframes change-darker-color {
  0% {
    fill: #062e44;
  }

  100% {
    fill: #074732;
  }
}

@keyframes change-background-color {
  0% {
    background: #062e44;
  }

  100% {
    background: #074732;
  }
}

@keyframes change-border-color {
  0% {
    border: 1px solid var(--article-item-color);
  }

  100% {
    border: 1px solid var(--main-item-color);
  }
}
