@import 'mixins';

.p-accordion {
  overflow: visible;

  @each $type in main, activity, article, card, contact, feature, link, money,
    question, technology, user
  {
    &[ad-type='#{$type}'] {
      @include entity-styles(
        var(--#{$type}-item-color) !important,
        var(--#{$type}-item-focus-color) !important,
        var(--#{$type}-item-highlight-color) !important
      );
    }
  }

  .p-accordionheader,
  .p-accordioncontent-content {
    border: 1px solid $p-card-border !important;
  }

  .p-accordioncontent-content {
    border-top: none !important;
  }

  .p-accordionheader,
  .p-accordionheader-toggle-icon {
    transition: color 300ms;
  }

  .p-accordionheader {
    @include caterpillar;

    background: $content-background !important;
  }

  .p-accordioncontent-content {
    background: $bg-black-color;
    backdrop-filter: blur(0.5em);
  }
}
