.my-card {
  &:not(.tile) {
    width: 100%;
  }

  :has(.p-datatable) {
    padding-bottom: 0;
  }

  .my-card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 0 4px;
    margin-bottom: 8px;

    h3 {
      margin: 0;
    }

    .p-button {
      padding: 0.15em;
      width: 1.75em !important;
      height: 1.75em !important;

      .iconify {
        font-size: 1.5em;
      }
    }
  }

  @media (min-width: $lg) {
    &:not(.tile) {
      margin-right: 2em;
    }

    .my-card-header-container {
      padding: 2px 6px 0 6px;

      .heading-skeleton {
        height: 38px !important;
      }
    }
  }
}

.p-card,
.my-card {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
}
