#about > .about-container > .start-container {
  padding: 0 1em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: $font-inter-sans-serif;

  .about-us {
    width: 100%;
    font-weight: 500;
  }

  .about-description {
    max-width: 600px;
    font-size: 1em;
    color: $secondary-text-color;
  }

  .about-animation {
    width: 100%;
    display: block;
  }

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
}
