.p-select-items {
  padding: 0;
}

.p-select,
.p-select-list {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
  padding: 4px !important;

  .p-select-option {
    border-radius: 4px;
  }
}
