@import 'mixins';

@each $type in main, activity, article, card, contact, feature, link, money,
  question, task, technology, user
{
  .p-select[ad-type='#{$type}'] {
    @include entity-select-styles(
      var(--#{$type}-item-color-new) !important,
      var(--#{$type}-item-focus-color-new) !important
    );
  }

  .p-select-panel.#{$type} {
    @include entity-select-item-styles(
      var(--#{$type}-item-color-new) !important,
      var(--#{$type}-item-selected-color-new) !important,
      var(--#{$type}-item-highlight-color-new) !important
    );
  }
}

.p-select-items {
  padding: 0;
}

.p-select,
.p-select-list {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
  padding: 4px !important;

  .p-select-option {
    border-radius: 4px;
  }
}
