@import 'keyframes';

.shiny {
  background: linear-gradient(
    to right,
    #1bbd79 20%,
    #178a59 40%,
    #126543 60%,
    #178a59 80%,
    #1bbd79 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &.first-text {
    animation: shine 2.5s linear infinite;
  }

  &:not(.first-text) {
    animation: shine 2s linear infinite;
  }
}
