@import './components';

#settings {
  height: 100vh;

  .panel-container {
    height: 100%;
    display: grid;

    .settings-main-card > {
      width: 100%;  

      .p-card-header {
        padding: 0 1.5rem;

        h2 {
          margin-bottom: 0;
        }
      }

      .p-card-body {
        .p-card-content {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
      }
    }
  }

  @media (min-width: $lg) {
    .panel-container {
      .settings-main-card {
        .p-card-body {
          .p-card-content {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
          }
        }
      }
    }
  }
}
