.ad-datatable {
  min-height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s 0.15s opacity;

  .ad-datatable-row,
  .p-datatable-tbody > tr,
  tr[data-p-index] {
    border: none !important;
    cursor: pointer;
    outline: none !important;
  }

  tr {
    > th {
      background: $bg-black-color !important;
      color: $white-text-color !important;
      padding: 9px !important;
      border: none !important;
      text-align: left;
    }

    > td {
      padding: 6px 9px !important;
      border: none !important;
    }
  }
}

.ad-datatable-row {
  cursor: pointer;
}

.ad-datatable-column-header-content {
  display: flex;
  align-items: center;
}

.ad-datatable-paginator-bottom {
  border: 0;
}

.ad-datatable-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  background: transparent !important;
  border: 0;
  position: relative;
  font-size: $font-size-sm;
  width: 100%;
  padding: 20px 0;
  margin: -0.5em 0 -2.125em;
}

.ad-datatable-paginator-first,
.ad-datatable-paginator-prev,
.ad-datatable-paginator-next,
.ad-datatable-paginator-last,
.ad-datatable-paginator-current {
  min-height: $min-max-width-height-small !important;
  min-width: $min-max-width-height-small !important;
  max-height: $min-max-width-height-small !important;
  max-width: $min-max-width-height-small !important;
  background: transparent !important;
  border: none !important;
  color: inherit !important;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:disabled,
  &:global(.p-disabled) {
    opacity: 0.5;
  }
}

.ad-datatable-paginator-current {
  min-width: auto !important;
  max-width: none !important;
  padding: 0 0.5em;
}

.ad-datatable-paginator-rpp {
  display: flex;
  align-items: center;
  padding: 0 0.75em;
  margin-left: 0.25em;
  gap: 0.5em;
}
