@import 'mixins';

.p-inputtext {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
  max-height: $min-max-width-height-big;
  font-size: 1em;

  @each $type in main, activity, article, card, contact, feature, link, money,
    question, task, technology, user
  {
    &[ad-type='#{$type}'] {
      @include entity-inputtext-styles(
        var(--#{$type}-item-color-new) !important,
        var(--#{$type}-item-focus-color-new) !important
      );
    }
  }
}

body:has(#login),
body:has(#register) {
  .p-inputtext {
    @each $type in main, activity, article, card, contact, feature, link, money,
      question, task, technology, user
    {
      &[ad-type='#{$type}'] {
        @include entity-inputtext-styles(
          var(--#{$type}-item-color) !important,
          var(--#{$type}-item-focus-color) !important
        );
      }
    }
  }
}
