#home .start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  gap: 5em;
  margin-top: -20px;

  .header,
  .header span {
    font-size: 35px;
    font-weight: bold !important;
    font-family: $font-inter-sans-serif !important;
    color: $primary-white-text-color;
    white-space: nowrap;
  }

  .start-image {
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;

    img {
      width: 100%;
      max-width: 60px;
      animation: levitate 3s ease-in-out infinite;
    }
  }

  @keyframes levitate {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .start-description {
    margin: 2em 0;
    max-width: 600px;
    font-size: 1.375em;
    color: $white-text-color;
    font-weight: 300;
  }

  .cta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    gap: 1em;

    .start-button {
      display: flex;
      justify-content: center;
      gap: 8px;
      font-weight: bold;
      font-size: 18px;
      padding: 10px 25px !important;
      width: max-content;
      transition: all 300ms;

      .p-image {
        display: flex;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  @media (min-width: 370px) {
    .cta {
      gap: 2em;
    }
  }

  @media (min-width: $sm) {
    padding: 0;
  }

  @media (min-width: $md) {
    .header,
    .header span {
      font-size: $font-size-xl !important;
    }

    .cta {
      margin-top: 2em;

      .start-button {
        padding: 10px 2rem !important;
        gap: 0.75rem;
      }
    }

    .right-side {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: $lg) {
    display: flex;
    margin-top: -30px;

    .header,
    .header span {
      font-size: $font-size-xxl !important;
    }

    .start-description {
      max-width: 500px;
    }
  }

  @media (min-width: $xl) {
    .cta {
      margin-top: 4em;
    }
  }

  @media (min-width: $xxl) {
    .start-description {
      font-size: $font-size-md;
    }
  }
}
