@mixin entity-datatable-styles($item-color, $selected-color, $highlight-color) {
  .p-datatable-column-sorted,
  .p-paginator-content button:hover {
    color: $item-color;
    background: $highlight-color;

    .p-datatable-column-title {
      color: $item-color;
    }

    .iconify {
      color: $item-color;
    }
  }

  .p-button {
    .iconify {
      color: $item-color;
    }
  }

  .p-datatable-thead {
    th:not(.p-datatable-column-sorted, .action-column) {
      &:hover {
        background: $selected-color;
      }
    }
  }

  .p-datatable-tbody {
    tr {
      &:hover {
        background: $selected-color;
      }
    }
  }
}
